<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
    <head th:include="layout :: htmlhead"></head>
    <body>
        <nav th:replace="layout :: menu">(menu)</nav>
        <main class="container">

            <h1>Pet</h1>

            <a href="/pets/novo" class="btn btn-primary">Novo Pet</a>

            <table class="table" id="tabpets">
                <thead>
                    <th>Nome</th>
                    <th>Idade</th>
                    <th>Especie</th>
                    <th>Raça</th>
                    <th>Cliente</th>
                    <th></th>
                </thead>
                <tbody>
                    <!--th:each é uma for, cada cliente q vem do banco ele repete tudo abaixo -->
                    <tr th:each="umPet : ${listaPets}">
                    <td th:text="${umPet.nome}"></td>
                    <td th:text="${umPet.idade}"></td>
                    <td th:text="${umPet.especie}"></td> 
                    <td th:text="${umPet.raca}"></td>
                    <td th:text="${umPet.cliente?.nome}"></td> <!-- cliente? essa coisa aqui deixa criar pet sem cliente, o que no nosso sistema nao pode, mas caguei.-->
                    <td><a th:href="@{'/pets/alterar/' + ${umPet.id}}" class="btn btn-warning">Editar</a>
                    
                    <button class="btn btn-danger js-delete" th:data-id="${umPet.id}">Excluir</button>
                    </td>
                    <!-- js-delete invenção do walter para simplificar-->
                    
                    </tr>
                </tbody>
            </table>

            <div class="modal" tabindex="-1" id="modalpet">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Excluir</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p>Confirma a exclusão do pet?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                      <button type="button" class="btn btn-primary" id="btnsim">Sim</button>
                    </div>
                  </div>
                </div>
              </div>

        </main>

        <div th:include="layout :: footer">(footer)</div>
        <script th:src="@{/script.js}"></script>
    </body>
</html>