<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
    <head th:include="layout :: htmlhead"></head>
    <body>
        <main class="container">
            <nav th:replace="layout :: menu">(menu)</nav>
            <h1>Pet</h1>

            <form th:action="@{/ordens}"
                method="POST"
                th:object="${ordem}">

                <input type="hidden" th:field="*{id}">

                <div class="form-group">
                    <label for="txtservico">Serviço</label>
                <input type="text"
                    id="txtservico"
                    th:field="*{servico}"
                    class="form-control">
                </div>
                

                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Enviar</button>
                </div>
            </form>
        </main>
        <div th:include="layout :: footer">(footer)</div>
    </body>
</html>