<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
    <head th:include="layout :: htmlhead"></head>
    <body>
        <nav th:replace="layout :: menu">(menu)</nav>
        <main class="container">

            <h1>Ordens de Serviço</h1>

            <a href="/ordens/novo" class="btn btn-primary">Novo</a>

            <table class="table" id="tabpets">
                <thead>
                    <th>Pet</th>
                    <th>Ordem</th>
                    <th>Data de Entrada</th>
                    <th>Data de Saída</th>
                    <th>Serviço</th>
                    <th>Valor</th>
                    <th>Forma de Pagamento</th>
                    <th>Anotação</th>
                  
                </thead>
                <tbody>
                    <!--th:each é uma for, cada cliente q vem do banco ele repete tudo abaixo -->
                    <tr th:each="umaOrdem : ${listaOrdens}">
                    <td th:text="${umaOrdem.id}"></td>
                    <td th:text="${umaOrdem.dataEntrada}"></td>
                    <td th:text="${umaOrdem.dataSaida}"></td> 
                    <td th:text="${umaOrdem.servico}"></td>
                    <td th:text="${umaOrdem.valor}"></td>
                    <td th:text="${umaOrdem.formaPagamento}"></td>
                    <td th:text="${umaOrdem.pet?.nome}"></td> 
                    <td><a th:href="@{'/ordens/alterar/' + ${umaOrdem.id}}" class="btn btn-warning">Editar</a>
                    
                    <button class="btn btn-danger js-delete" th:data-id="${umaOrdem.id}">Excluir</button>
                    </td>
                    <!-- js-delete invenção do walter para simplificar-->
                    
                    </tr>
                </tbody>
            </table>

            <div class="modal" tabindex="-1" id="modalpet">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Excluir Pet</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <p>Confirma a exclusão da Ordem?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                    <button type="button" class="btn btn-primary" id="btnsim">Sim</button>
                  </div>
                </div>
              </div>
            </div>

        </main>

        <div th:include="layout :: footer">(footer)</div>
        <script th:src="@{/script.js}"></script>
    </body>
</html>